

html, body {
 
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 75%;
    padding:0;
    margin:0;
    overflow-x: hidden;
   
  }
  
  .fas fa-smog {
    width: 150px;
    height: auto;
    
  }
  
  .container {
    
    margin-bottom: 25px;
    margin-top: 25px
    
  
  }
  
  
  
  h5 {
    text-align: center;
    font-weight: 900;
  
    
  }
  .nav-wrapper {
    background-color: #81D2C7;
    position: absolute ;
  }
  
  p {
    text-align: center;
    font-weight: 900;
    
    
    
  }
  
  .range-field {
    
    position: relative;
    
  }
  
  html, body {
    overflow-x: hidden;
    background: #F4f4f5;
  }
  
  section {
    
    
    width: 100%;
    height: auto;
    background: white;
    padding-top: 15px;
    padding-bottom: 25px;
    
  
    
    
    
    
    
  }
  
  .full-width-tinted {
    position: absolute; 
    background: #3DCCC7;
    color: white;
    font-size: 2rem;
    z-index: 0;
  }
  
  .input-group{
    display:table;
    width:100%;
    margin: 0 auto;
  }
  
  .input-group .input-field,
  .input-group .input-group-addon{
    display:table;
    width: 100%;
  }
  
  .full-width-tinted:before {
    content: "";
    position: center;
    z-index: 0;
    top: 0;
    bottom: 0;
    background: #3DCCC7;
  }
  
  
  #ac {
    
    float: right;
    height: 100px;
    padding-bottom: 0px;
    padding-right: 10px;
    
  }
  
  #brightness {
    float: left;
    padding-left: 10px;
    padding-bottom: 30px;
    height: 100px;
  }
  
  
  
  
  h1 {
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  .main-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    
  }
  
  .button {
    display: block;
    position: absolute;
    left: 50%;
    top: 30%;
    height: 1rem;
    padding-bottom: 2.5rem;
    padding-top: 1rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  
  
  
  
  
  .split.l .button:hover {
    background-color: #333333;
    border-color: #fff;
  }
  
  .split.r .button:hover {
    background-color: #333333;
    border-color: #fff;
  }
  
  
  .split {
    position: absolute;
    width: 50%;
    height: 80%;
    overflow: hidden;
  
  }
  
  .split.l {
    left:0;
    background: url('https://images.pexels.com/photos/2685043/pexels-photo-2685043.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500') center center no-repeat;
    background-size: cover;
    
  }
  
  .split.l:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .6;
  }
  
  .split.r {
    right:0;
    background: url('https://images.pexels.com/photos/2311713/pexels-photo-2311713.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center center no-repeat;
    background-size: cover;
    background-color: transparent;
    opacity: 1;
    
  }
  
  .split.r:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: .6;
    
  }
  
  .button {
    top: 40%;
    bottom: 50%;
    width: 8rem;
  }
  
  
  @media(max-width: 800px) {
    h1 {
      font-size: 3rem;
    }
  
  
    
  }